*.a
*.la
*.lai
*.lo
*.o
*.Plo
*.Po
*.so
*.so.*
*.exe
Makefile
Makefile.in
/aclocal.m4
/compile
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ylwrap
/autom4te.cache/
/config.*
/cilk2c/cilk2c
/cilk2c/ANSI-C.[ch]
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.log
/doc/manual.pdf
/doc/*.toc
/doc/version.tex
/example/*.exe
/FAQ/cilk-faq.ascii
/FAQ/cilk-faq.html/
/FAQ/cilk-faq.info
/FAQ/cilk-faq.xrefdb
/m4/
/runtime/cilk-sysdep.h
/runtime/stamp-h2
/support/cilkc
/support/cilkclocal
